.container {
    width: 80%;
    max-width: 1000px;
    margin: 80px auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    float: left;
    margin-left: 100px;
}
.row, .column {
    width: 45%;
}
input {
    margin-top: 10px;
}
input[type='text']{
    padding: 10px;
    width: 300px;
    border:1px solid;
    border-radius: 40px;
    outline: none;
}
select {
    padding: 10px;
    width: 200px;
    border:1px solid;
    outline: none;
}
.container .item {
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    background-color: antiquewhite;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}